h1 .blog-heading {
    color: var(--secondary-color);
}

h3 .blog-heading {
    font-size: 0.8rem;
    color: var(--main-color);
    margin: 10px 0;
}

.blog-post {
    background-color: $white;
    border-bottom: 1px solid $mainColor;
}

#blog-post .blog-post-content h2 {
    font-size: 1.5rem;
    color: var(--main-color);
}

#blog-post .blog-post-content img {
    max-height: 350px;
    max-width: 90vw;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}
#blog-post .blog-post-content pre {
    max-width: 90vw;
    font-size: 1.2rem;
}

#back-to-blog-link p {
    color: var(--main-color);
    text-align: right;
}

#back-to-blog-link p:hover {
    color: var(--secondary-color);
}

#hero img {
    object-fit: cover;
    height: 240px;
    width: 100%;
    margin-bottom: -5px;
}


#blog-post,
#back-to-blog-link p {
    max-width: 800px;
    margin: 30px auto;
}

#blog-post .blog-post-content p,
#back-to-blog-link p .blog-post-content p {
    text-align: justify;
    font-size: 1.3rem;
}
