#home-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

#about {
    grid-column-end: span 4;
    box-shadow: 0px 0px 5px gray;
}

#nav-grid {
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.nav-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px grey;
    border-radius: 5px;
    height: 80px;
}

#nav-grid a,
#nav-grid button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3px;
    padding: 4px 8px 4px 8px !important;
    height: 100%;
    border: none;
}

#nav-grid p {
    font-size: 1rem;
    margin: 0;
}

#nav-grid p:hover,
#nav-grid p:focus {
    outline: none;
}

#nav-grid p:hover img,
#nav-grid p:focus img {
    transform: scale(1.3, 1.3) rotate(360deg);
    transition: transform 0.7s;
}

#nav-grid img {
    height: 50%;
    transition: none;
    cursor: pointer;
    outline: none;
}

#nav-grid img:hover,
#nav-grid img:focus {
    transform: scale(1.3, 1.3) rotate(360deg);
    transition: transform 0.7s;
}
