nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--nav-padding);
    height: var(--nav-height);
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--white);
}

nav a,
nav button {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin: 0 3px;
    padding: 4px 8px 4px 8px !important;
}

nav p {
    font-size: 1rem;
    margin: 0;
    display: none;
}

nav p:hover,
nav p:focus {
    outline: none;
}

nav p:hover img,
nav p:focus img {
    transform: scale(1.3, 1.3) rotate(360deg);
    transition: transform 0.7s;
}

nav img {
    height: 20px;
    transition: none;
    cursor: pointer;
    outline: none;
}

nav img:hover, nav img:focus {
    transform: scale(1.3, 1.3) rotate(360deg);
    transition: transform 0.7s;
}
