/* line 1, ../sass/_base.scss */
html {
  background-color: #89ECDA;
}

/* line 5, ../sass/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 70px auto;
}

/* line 10, ../sass/_base.scss */
.content {
  margin: 0 auto;
  text-align: center;
  background-color: #FFF;
  opacity: 0.9;
  width: 70%;
  padding: 10px;
  box-shadow: 0 0 20px 20px #FFF;
}

/* line 20, ../sass/_base.scss */
.content a {
  color: #1f375b;
  font-weight: bold;
  text-decoration: none;
}

/* line 26, ../sass/_base.scss */
h3 {
  color: #ff8e34;
  font-size: 30px;
}

/* line 31, ../sass/_base.scss */
h4 {
  color: #ff8e34;
  font-size: 20px;
}

/* line 2, ../sass/_timeline.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 9, ../sass/_timeline.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #89ECDA;
}

/* line 21, ../sass/_timeline.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

/* line 27, ../sass/_timeline.scss */
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 34, ../sass/_timeline.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}

/* line 39, ../sass/_timeline.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

/* line 44, ../sass/_timeline.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 20px;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/* line 56, ../sass/_timeline.scss */
.cd-date {
  margin-top: 10px;
}

/* line 61, ../sass/_timeline.scss */
.cd-timeline-img.cd-picture {
  background: #89ECDA;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 135, ../sass/_timeline.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #89ECDA;
}

/* line 145, ../sass/_timeline.scss */
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 152, ../sass/_timeline.scss */
.cd-timeline-content h2 {
  color: #89ECDA;
}

/* line 157, ../sass/_timeline.scss */
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

/* line 163, ../sass/_timeline.scss */
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

/* line 168, ../sass/_timeline.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

/* line 174, ../sass/_timeline.scss */
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

/* line 183, ../sass/_timeline.scss */
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

/* line 188, ../sass/_timeline.scss */
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

/* line 195, ../sass/_timeline.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  /* line 209, ../sass/_timeline.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /* line 213, ../sass/_timeline.scss */
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }

  /* line 217, ../sass/_timeline.scss */
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 2, ../sass/_home.scss */
.home-background {
  background-color: #89ECDA;
}

/* line 6, ../sass/_home.scss */
.panels, h1 {
  width: 100%;
  text-align: center;
}

/* line 11, ../sass/_home.scss */
.icon {
  width: 30%;
  height: 100px;
  display: inline-block;
  text-align: center;
}

/* line 18, ../sass/_home.scss */
.icon img {
  display: block;
  margin: 0 auto;
}

/* line 23, ../sass/_home.scss */
.icon a {
  margin-top: 10px;
  display: block;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}

/* line 31, ../sass/_home.scss */
#heading {
  margin: 70px auto;
  font-size: 50px;
  color: #ff8e34;
  width: 67.75%;
  line-height: 0px;
  padding: 0px;
  border-top: 5px solid #1f375b;
  border-bottom: 5px solid #1f375b;
}

/* line 2, ../sass/_header.scss */
h2 {
  color: #1f375b;
  float: left;
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 11, ../sass/_header.scss */
.nav-bar img {
  height: 40px;
  display: inline-block;
  text-align: center;
}

/* line 17, ../sass/_header.scss */
.nav-bar {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 80px;
}

/* line 24, ../sass/_header.scss */
#title {
  float: left;
  position: relative;
}

/* line 29, ../sass/_header.scss */
#links {
  float: right;
}

/* line 1, ../sass/_footer.scss */
footer {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 100px;
  height: 110px;
  font-size: 10px;
  color: #000;
}

/* line 11, ../sass/_footer.scss */
footer a {
  color: #1f375b;
}

/* line 1, ../sass/_about.scss */
.about-background {
  background: linear-gradient(135deg, #89ecda 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #89ecda 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
  background-color: #89ecda;
  background-size: 64px 128px;
}

/* line 1, ../sass/_contact.scss */
.contact-background {
  background: linear-gradient(135deg, #FFFFFF 25%, transparent 25%) -50px 0, linear-gradient(225deg, #FFFFFF 25%, transparent 25%) -50px 0, linear-gradient(315deg, #FFFFFF 25%, transparent 25%), linear-gradient(45deg, #FFFFFF 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #89ecda;
}

/* line 11, ../sass/_contact.scss */
#entry_0, #entry_6, #entry_13 {
  width: 100%;
}

/* line 15, ../sass/_contact.scss */
#entry_13 {
  height: 100px;
}

/* line 19, ../sass/_contact.scss */
.ss-form-title {
  font-size: 32px;
}

/* line 23, ../sass/_contact.scss */
.ss-footer {
  padding-top: 30px;
  font-size: 10px;
}

/* line 28, ../sass/_contact.scss */
input,
textarea {
  width: 100%;
  font: 15px "Century Gothic", sans-serif;
  padding: 7px;
  border: 1px solid #89ecda;
}

/* line 36, ../sass/_contact.scss */
input[type=submit] {
  width: 150px;
  background-color: #89ecda;
  color: #1f375b;
}

/* line 42, ../sass/_contact.scss */
input {
  width: 100%;
}

/* line 1, ../sass/_projects.scss */
.projects-background {
  background-color: white;
  background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #89ecda 99%), radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #89ecda 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
