/* line 1, ../sass/_base.scss */
html {
  background-color: #6287C6;
}

/* line 5, ../sass/_base.scss */
body {
  font-family: 'Calibri', sans-serif;
}

/* line 9, ../sass/_base.scss */
h3 {
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
  color: #FFF;
}

/* line 15, ../sass/_base.scss */
h4 {
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 1, ../sass/_home.scss */
#left-panel {
  width: 30%;
  margin-left: 25px;
  clear: left;
}

/* line 7, ../sass/_home.scss */
#right-panel {
  width: 65%;
  display: inline-block;
  float: right;
}

/* line 1, ../sass/_header.scss */
img {
  height: 200px;
  float: left;
  margin-left: 20px;
}

/* line 7, ../sass/_header.scss */
#heading {
  display: inline-block;
  float: left;
}

/* line 12, ../sass/_header.scss */
h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 96px;
}

/* line 17, ../sass/_header.scss */
h2 {
  font-family: 'Londrina Outline', cursive;
  font-size: 60px;
}

/* line 22, ../sass/_header.scss */
h1, h2 {
  margin: 0px;
  color: #FFF;
}

/* line 1, ../sass/_contact.scss */
#entry_0, #entry_6, #entry_13 {
  width: 100%;
}

/* line 5, ../sass/_contact.scss */
#entry_13 {
  height: 100px;
}

/* line 9, ../sass/_contact.scss */
.ss-form-title {
  font-size: 32px;
}

/* line 13, ../sass/_contact.scss */
.ss-footer {
  padding-top: 30px;
  font-size: 10px;
}
/* line 16, ../sass/_contact.scss */
.ss-footer a {
  font-size: 10px;
}

/* line 21, ../sass/_contact.scss */
input,
textarea {
  width: 100%;
  font: 15px "Century Gothic", sans-serif;
  padding: 7px;
  border: 1px solid #89ecda;
}

/* line 29, ../sass/_contact.scss */
input[type=submit] {
  width: 150px;
  background-color: #89ecda;
  color: #1f375b;
}

/* line 35, ../sass/_contact.scss */
input {
  width: 100%;
}
