<%- include ("../partials/nav") %>

<header>
    <h1 class="keyword"><%- title -%></h1>
    <div id="subheading">
        <h2 id="subheading-prefix">Hayley Stewart | <%- date -%></h2>
    </div>
</header>
