<footer>
    <p>Hayley van Waas &copy; 2019</p>
    <p id="credit">Icon made by <a target="_blank" rel="noopener noreferrer" href="https://www.flaticon.com/authors/gregor-cresnar">https://www.flaticon.com/authors/gregor-cresnar</a> from <a target="_blank" rel="noopener noreferrer" href="www.flaticon.com">www.flaticon.com</a></p>
</footer>
