<%- include ("../partials/nav") %>

<header>
    <h1>Hi, my name is Hayley.</h1>
    <div id="subheading">
        <h2 id="subheading-prefix">I am a </h2><h2 id="typewriter"></h2>
    </div>
</header>
