<%- include ("../partials/nav") %>

<header>
    <h1>Hi, my name is &nbsp;</h1><h1 class="keyword">Hayley</h1><h1>.</h1>
    <div id="subheading">
    <% if (subheading === 'Instructional Designer') { %>
        <h2 id="subheading-prefix">I am an </h2><h2 id="typewriter">Instructional Designer</h2><h2 id="typewriter-suffix">.</h2>
    <% } else if (subheading === 'Get in touch') { %>
        <h2 id="subheading-prefix"></h2><h2 id="typewriter"><%- subheading -%></h2><h2 id="typewriter-suffix">.</h2>
    <% } else if (subheading !== '') { %>
    <h2 id="subheading-prefix">I am a </h2><h2 id="typewriter"><%- subheading -%></h2><h2 id="typewriter-suffix">.</h2>
    <% } else { %>
        <h2 id="subheading-prefix">I am a </h2><h2 id="typewriter"></h2><h2 id="typewriter-suffix"></h2>
    <% } %>
    </div>
    </header>
