<nav>
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <div id="menu">
        <div id="social-icons">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/hayleycodes"
                ><img src="/images/social-logos/github.png" alt="GitHub logo."
            /></a>

            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/hayley_codes"
                ><img src="/images/social-logos/twitter.png" alt="Twitter logo."
            /></a>

            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/hayley-van-waas-772670108/"
                ><img src="/images/social-logos/linkedin.png" alt="LinkedIn logo."
            /></a>
        </div>
        <div id="page-links">
            <a href="/">Home</a>
            <a href="/web-and-software-development">Web and Software Development</a>
            <a href="/instructional-design">Instructional Design</a>
            <a href="/teaching-and-mentoring">Teaching and Mentoring</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</nav>
