<nav>
    <a tabindex="0" href="/"><p>Home</p><img tabindex="0" id="email-button" src="/images/home.png" alt="Mail icon."></a>
    <a tabindex="0" href="/blog"><p>Blog</p><img tabindex="0" id="email-button" src="/images/blog.png" alt="Mail icon."></a>
    <button onclick="openContact()"><p>Contact</p><img tabindex="0" id="email-button" src="/images/contact.png" alt="Mail icon."></button>
    <a tabindex="0" target="_blank" rel="noopener noreferrer" href="https://github.com/hayleyavw"><p>GitHub</p><img
            src="/images/social-logos/github.png" alt="GitHub logo."></a>
    <a tabindex="0" target="_blank" rel="noopener noreferrer" href="https://twitter.com/hayleyavw"><p>Twitter</p><img
            src="/images/social-logos/twitter.png" alt="Twitter logo."></a>
    <a tabindex="0" target="_blank" rel="noopener noreferrer"
        href="https://www.linkedin.com/in/hayley-van-waas-772670108/"><p>LinkedIn</p><img src="/images/social-logos/linkedin.png"
            alt="LinkedIn logo."></a>
</nav>
