<nav>
    <a href="/"><p>Home</a>
    <a href="/blog"><p>Blog</a>
    <a tabindex="0" target="_blank" rel="noopener noreferrer" href="https://github.com/hayleyavw"><img
            src="/images/social-logos/github.png" alt="GitHub logo."></a>
    <a tabindex="0" target="_blank" rel="noopener noreferrer" href="https://twitter.com/hayleyavw"><img
            src="/images/social-logos/twitter.png" alt="Twitter logo."></a>
    <a tabindex="0" target="_blank" rel="noopener noreferrer"
        href="https://www.linkedin.com/in/hayley-van-waas-772670108/"><img src="/images/social-logos/linkedin.png"
            alt="LinkedIn logo."></a>
    <img tabindex="0" id="email-button" src="/images/envelope.png" onclick="openContact()" alt="Mail icon.">
</nav>
