*{

	box-sizing: border-box;

}

html {
	background-color: #0B1337;
}


.wrapper {

	padding: 50px 20px;
	width: 100%;
	min-width: 300px;
	max-width: 1000px;
	margin: 0 auto;
	font: normal 16px 'Goudy Old Style', serif;

}


.clearfix {

	clear: both;

}


.fb-like {

	float: right;

}



.twitter-share-button {

	float: right;

} 


li.list {
	list-style-type: circle;
	margin-left: 19px;
}



@media only screen and (max-width: 480px) {

	.wrapper {

 		padding-top: 5px;

 		section {

 			padding-right: 10px;

  		}
 
 	}

}

