.contact-background {
    background:
        linear-gradient(135deg, #FFFFFF 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #FFFFFF 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #FFFFFF 25%, transparent 25%),
        linear-gradient(45deg, #FFFFFF 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #89ecda;
}
