#contact-form {
    clear: both;
    padding-top: 20px;
}

#input-boxes {
    float: left;
    width: 100%;
}

#contact-info {
    float: left;
    width: 30%;
}

#contact-message {
    float: right;
    width: 65%;
}

.ss-form-title {
    font-size: 32px;
}

.ss-footer {
    padding-top: 30px;
    font-size: 10px;
    a {
        font-size: 10px;
    }
}

#entry_0, #entry_6 {
    height: 20px;    
}

textarea#entry_13 {
    height: 100px;
}

.errorbox-good {
    padding-bottom: 20px;
}

input,
textarea {
    width: 100%;
    font: 15px "Century Gothic", sans-serif;
    padding: 5px;
    border: 1px solid #89ecda;
}

input[type=submit] {
    width: 150px;
    background-color: #89ecda;
    color: #1f375b;
}
