img {
	height: 200px;
	float: left;
	margin-left: 20px;
}

#heading {
	display: inline-block;
	float: left;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 96px;
}

h2 {
    font-family: 'Londrina Outline', cursive;
    font-size: 60px;
}

h1, h2 {
	margin: 0px;
	color: #FFF;
}
