header {
	img {
		height: 200px;
		float: left;
		margin-left: 20px;
	}
}

nav {
	position: relative;
	z-index: 1;
	float: right;
	margin-right: 40px; 
	img {
		width: 30px;
		margin-left: 5px;
	}
}

#heading {
	display: inline-block;
	float: left;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 96px;
}

h2 {
    font-family: 'Londrina Outline', cursive;
    font-size: 60px;
}

h1, h2 {
	margin: 0px;
	color: #FFF;
}

footer {
	clear: both;
	margin: 50px;
	text-align: center;
	img {
		width: 30px;
	}
}