#left-panel {
	width: 30%;
	margin-left: 25px;
	clear: left;
	padding-top: 20px;
}

#right-panel {
	width: 65%;
	margin-top: -30px;
	display: inline-block;
	float: right;
	padding-left: 50px;
	@media (max-width: 1130px) {
		margin-top: 30px;
	}
}

@media (max-width: 700px) {
	#panels {
		display: table;
		clear: both
	}
	#left-panel {
		width: 100%;
		margin-left: 0px;
		display: table-header-group;
	}
	#right-panel {
		width: 100%;
		display: table-footer-group;
		margin-top: 0px;
	}
}
