.projects-background {
    background-color:white;
    background-image:
        radial-gradient(#89ecda 9px, transparent 10px),
        repeating-radial-gradient(#89ecda 0, #89ecda 4px, transparent 5px, transparent 20px, #89ecda 21px, #89ecda 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px; 
    background-position: 0 0;
}
