section, .entries {

    border-radius: 8px;
    border: 0px solid;
    padding: 0px 0px 20px 15px;

    img {

        display: block;
        width: 310px;
        padding-left: 8px;
        padding-bottom: 10px;
        border-radius: 15px;
        border: white 0px solid;

    }

    p {

        display: block;

    }

    aside {

        float: right;
        padding-top: 12px;
        padding-right: 0px;
        text-align: right;

    }

    a {

        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: bold;
        color: #0B1337;

        &:hover {

            font-weight: bold;
            text-decoration: underline;

        }

    }

    li {

    list-style-type: none;
    padding-right: 10px;

    }


    @media only screen and (max-width: 480px) {

        img {

            width: 0px;

        }

        section {

            padding: 0 0px;

        }

        a {
            font-size: 15px;
        }

    }

}

section {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
