html {
	background-color: #f6f5f3;
}

h1 {
	font-size: 4rem;
	margin: 0px;
}

h2 {
	font-family: 'Londrina Outline', cursive;
	font-size: 4rem;
	margin: 0;
}

h3 {
	color: #8ba9dd;
	font-size: 2rem;
	margin: 10px 10px;
}

h1, h3 {
	font-family: 'Londrina Solid', cursive;
}

h1, h2 {
	color: #FFF;
}

h4 a {
	color: #000;
	text-decoration: none;
}

a {
	color: #6287c6;
	text-decoration: none;
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
	height: 300px;
	background-color: #8ba9dd;
	#header-wrapper {
		display: flex;
		align-items: center;
		margin: auto;
		height: 100%;
		img {
			height: 200px;
			width: 200px;
			object-fit: cover;
			border-radius: 50%;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
			margin-right: 30px;
		}
		#heading-text {
			text-shadow: 2px 2px rgba(0,0,0,0.12);
		}
	}
}

.content {
	width: 100%;
	box-sizing: border-box;
    padding: 10px;
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		h3 {
			width: 45%;
		}
		.card {
			width: 45%;
			ul {
				padding-left: 20px;
				list-style: none;
				li::before {
					content: "•";
					color: #6287c6;
					display: inline-block;
					width: 1em;
  					margin-left: -1em;
				}
			}
		}
		.contact-card {
			width: 95%;
		}
		.card, .contact-card {
			background-color: #FFF;
			padding: 10px;
			margin: 10px 0;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
			h4, .external-link-icon {
				display: inline-block;
				margin: 2px;
			}
			.external-link-icon {
				height: 18px;
				margin-left: 4px;
			}
			.project-image {
				height: 35px;
			}
		}
		.hidden {
			width: 45%;
		}
		#image-card {
			background-image: url('../images/me-speaking.jpg');
		}
		#image-hayleys-health-foods-banner {
			background-image: url('../images/hayleys-health-foods-banner.png');
		}
		.image-card {
			background-size: cover;
			background-position: center;
		}
	}
	#contact {
		.contact-card #contact-form {
			.form-element {
				display: flex;
			}
		}
	}
}

/*
.card:last-child {
	margin-right: auto;
}
*/
