<!DOCTYPE html>

<html lang="en">
    <%- include ("../partials/head", {env: env}) %>

    <body>
        <% if (env !== "development") { %> <%- include ("../partials/bodyGTM") %> <% } %> <%-
        include ("../partials/header", {subheading: 'Fullstack Developer'}) %>

        <div id="cards">
            <div class="card">
                <div class="card-header">
                    <h3>Hayley's Health Foods</h3>
                    <img
                        src="images/project-logos/hayleys-health-foods.png"
                        alt="Hayley's Health Foods Logo."
                    />
                </div>
                <p>
                    This is a little passion project of mine. I am very interested in health and
                    nutrition, as well as cooking. Have you noticed how recipe websites always seem
                    to have someone’s life story before the recipe? I was pretty over these
                    frustrating designs so decided to make my own instead.
                </p>
                <p>
                    In April 2020 I released version 2 of the site. Version 1 felt like a proof of
                    concept, and was put together in Flask, JavaScript, HTML and SCSS. I decided to
                    rebuild it using React and a headless CMS (Strapi) to make a clearer distinction
                    between the front and back end. I also wanted to improve my React skills, and
                    was in need of a more robust and component based frontend framework, so it was a
                    perfect fit!
                </p>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>The Cut</h3>
                    <img src="images/project-logos/the-cut.png" alt="The Cut logo." />
                </div>
                <p>
                    The Cut is digital agency focused on Python software development. I primarily
                    work on backend development using Python and Django.
                </p>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Seven West Media</h3>
                    <img
                        src="images/project-logos/seven-west-media.png"
                        alt="Seven West Media logo."
                    />
                </div>
                <p>
                    I worked as Web Developer as part of the Digital team at Seven West Media, where
                    I helped to maintain and develop the websites for The West Australian, PerthNow
                    and 7News.
                </p>
                <p>
                    I mostly worked with React, TypeScript and Emotion.
                </p>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Manawatu Building Recyclers</h3>
                    <img
                        src="images/project-logos/manawatu-building-recyclers.png"
                        alt="Manawatu Building Recyclers logo."
                    />
                </div>
                <p>
                    This is a website I made for a family member. Manawatu Building Recyclers is a
                    house part recycling business in my home town of Palmerston North, NZ.
                </p>
                <p>
                    The website runs on a Node server (which is a little overkill but is there for
                    the potential future addition of a contact form). Other than that it is simply
                    HTML and SCSS.
                </p>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Healthy Living with Steph</h3>
                    <img
                        src="images/project-logos/healthy-living-with-steph.png"
                        alt="Healthy Living with Steph logo."
                    />
                </div>
                <p>
                    This is a website I made for a family member who is a mentor for the PH@TT
                    program, a program designed to help people develop healthy habits when it comes
                    to food.
                </p>
                <p>
                    Healthy Living With Steph runs on a Node server to handle the contact form.
                    Other than that it is simply HTML, JavaScript and SCSS.
                </p>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>University of Canterbury</h3>
                    <img src="images/project-logos/uc.png" alt="University of Canterbury logo." />
                </div>
                <p>
                    I worked in the Computer Science Education Research Group, but we were more
                    widely known as "The Department of Fun Stuff". I was involved in a number of
                    projects during my time in the group.
                </p>
                <div class="card sub-card">
                    <div class="card-header">
                        <h4>CS Unplugged</h4>
                        <img src="images/project-logos/cs-unplugged.png" alt="CS Unplugged logo." />
                    </div>
                    <p>
                        Computer Science Unplugged is a collection of free learning activities that
                        teach Computer Science through engaging games and puzzles that use cards,
                        string, crayons and lots of running around. I was part of the team who
                        rebuilt the website, moving away from an existing Wordpress site and into
                        its own custom solution for delivering content and resources to teachers.
                        The backend is written in Python using the Django framework. The front end
                        is written in HTML, JavaScript and Bootstrap. The whole system runs on
                        Docker containers.
                    </p>
                    <p>
                        CS Unplugged is an open source project so you can take a look at my
                        contributions (and even contribute yourself!) by checking out the repository
                        on GitHub.
                    </p>
                </div>
                <div class="card sub-card">
                    <div class="card-header">
                        <h4>CS Field Guide</h4>
                        <img
                            src="images/project-logos/cs-field-guide.png"
                            alt="CS Field Guide logo."
                        />
                    </div>
                    <p>
                        The Computer Science Field Guide is an interactive textbook used in schools
                        around the world to teach students about Computer Science concepts. I worked
                        on this project part time for four and a half years. Most of my time was
                        spent developing what are called “interactives.” These are little JavaScript
                        applets that aim to teach Computer Science concepts by reinforcing the
                        material in the chapter in a fun and engaging way. I also made considerable
                        contributions as an editor and author to a number of chapters.
                    </p>
                    <p>
                        I worked on many of these interactives, but perhaps the most significant
                        interactives I created were for the Computer Graphics chapter. The Box
                        Translation and Rotation interactives demonstrate the basic principles of
                        moving objects in 3D space. They are written using Three.js, a JavaScript
                        framework for WebGL. The Arrow Manipulation interactives demonstrate how
                        matrices can be used to manipulate shapes in 2D space, all written in
                        JavaScript.
                    </p>
                    <p>
                        The CS Field Guide is an open source project so you can take a look at my
                        contributions (and even contribute yourself) by checking out the repository
                        on Github.
                    </p>
                </div>
                <div class="card sub-card">
                    <div class="card-header">
                        <h4>Verto</h4>
                        <img src="images/project-logos/verto.png" alt="Verto logo." />
                    </div>
                    <p>
                        Verto is an extension of the Python Markdown package, which allows authors
                        to include complex HTML elements with simple text tags in their Markdown
                        files. I was one of the main architects and maintainers of this package for
                        several months.
                    </p>
                    <p>
                        Verto is an open source project so you can take a look at my contributions
                        (and even contribute yourself) by checking out the repository on GitHub.
                    </p>
                </div>
                <div class="card sub-card">
                    <div class="card-header">
                        <h4>Interactive Course Planner</h4>
                    </div>
                    <p>
                        If you have ever enrolled at a University then you will know that it is not
                        an easy task, and in fact once you’ve navigated your way through it you feel
                        like you’ve already earned some kind of qualification. The University of
                        Canterbury used to receive thousands of calls every year from prospective
                        engineering students asking for help with their enrolment as it is a
                        surprisingly complicated task given the number of requirements for each
                        course (which is also affected by the type of qualification earned in high
                        school), and the number of specialisations on offer.
                    </p>
                    <p>
                        I was asked to create a web page to help make this application process
                        easier for new students. This has been embedded in the Engineering at UC
                        website since 2016 and was a remarkable success that saves university
                        enrolment and student help staff hours of work every year.
                    </p>
                    <p>
                        This project was written in HTML, CSS and JavaScript.
                    </p>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3>Google</h3>
                        <img src="images/project-logos/google.png" alt="Google logo." />
                    </div>
                    <p>
                        In summer 2015/16 I was an intern on the Bandwidth Site Reliability Engineer
                        (SRE) team at Google.To best describe what an SRE does, think about the last
                        time Google went down, can you even think of a time Google was down?
                        Probably not too many memories spring to mind, and that is because SREs are
                        working around the clock to keep everything up and running, and to fix
                        things when something does go wrong.
                    </p>
                    <p>
                        As an intern on Bandwidth SRE, another intern and I partnered to create an
                        internal tool to be used by other SRE teams to check the status of the
                        amount of bandwidth their service (e.g. Maps, Drive, YouTube, etc) in Google
                        is using. The tool proved to be extremely useful and was already being used
                        before they even finished the internship!
                    </p>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3>REANNZ</h3>
                        <img src="images/project-logos/reannz.png" alt="REANNZ logo." />
                    </div>
                    <p>
                        This was my first internship. I started at REANNZ only a week and a half
                        after my last exam at high school, and it was a great way to spend the
                        summer before starting university.
                    </p>
                    <p>
                        At REANNZ I worked on a data visualisation project, which involved creating
                        a 3D representation of the REANNZ network by overlaying network data onto a
                        model of New Zealand. This was done using Three.js, a JavaScript framework
                        for WebGL, as well as some Python scripts for cleaning and sorting the data.
                    </p>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3>NCSS</h3>
                        <img src="images/project-logos/ncss.png" alt="NCSS logo." />
                    </div>
                    <p>
                        The National Computer Science School runs a summer camp program, which I
                        attended as a student in 2014 and 2015, an industry mentor in 2016, and a
                        tutor in 2017 and 2018. NCSS is what made me realise that I wanted a career
                        in Software! It is a 10 day event where students from all over Australia and
                        New Zealand, as well as tutors from all over the world, come together to
                        learn and experience Computer Science. It's just as nerdy as it sounds and
                        is always an incredible experience!
                    </p>
                </div>
            </div>
        </div>

        <%- include ("../partials/footer"); -%>

        <script src="/js/contact.js"></script>
    </body>
</html>
