<!doctype html>

<html lang="en">

<%- include ("../partials/head", {env: env}) %>

<body>
    <% if (env !== "development") { %>
        <%- include ("../partials/bodyGTM") %>
    <% } %>

    <%- include ("../partials/header") %>

    <section id="interests">

        <h3>I like...</h3>

        <div class="homepage-subject">
            <img src="images/placeholder.png">
            <div class="subject-text">
                <h3>Software and Web Development</h3>
            </div>
        </div>
        
        <div class="homepage-subject">
            <div class="subject-text">
                <h3>Instructional Design</h3>
            </div>
            <img src="images/placeholder.png">
        </div>
        
        <div class="homepage-subject">
            <img src="images/teaching-juniors.jpg">
            <div class="subject-text">
                <h3>Training Junior Developers</h3>
            </div>
        </div>
        
        <div class="homepage-subject">
            <div class="subject-text">
                <h3>Dogs</h3>
            </div>
            <img src="images/izzy.jpg">
        </div>
        
        <div class="homepage-subject">
            <img src="images/taylor-swift.jpg">
            <div class="subject-text">
                <h3>Taylor Swift</h3>
            </div>
        </div>

        <div class="homepage-subject" id="mysterious-pineapples">
            <div class="subject-text">
                <h3>Mysterious Pineapples</h3>
            </div>
            <img src="images/placeholder.png">
        </div>

    </section>

    <%- include ("../partials/footer"); -%>

    <script src="/js/typewriter.js"></script>
    <script src="/js/contact.js"></script>
</body>

</html>
