<!doctype html>

<html lang="en">

<%- include ("../partials/head", {env: env}) %>

<body>
    <% if (env !== "development") { %>
        <%- include ("../partials/bodyGTM") %>
    <% } %>

    <%- include ("../partials/header", {subheading: ''}) %>

    <section id="interests">

        <h4>I like...</h4>

        <div class="homepage-subject">
            <img src="images/coding.jpg">
            <div class="subject-text">
                <h3>Software and Web Development</h3>
                <p>Leave the purfume on the shelf that you picked out just for him. So you leave no trace behind, like you don't even exist.</p>
                <a href="/web-and-software-development">Read More</a>
            </div>
        </div>
        
        <div class="homepage-subject">
            <div class="subject-text">
                <h3>Instructional Design</h3>
                <p>Leave the purfume on the shelf that you picked out just for him. So you leave no trace behind, like you don't even exist.</p>
                <a href="/web-and-software-development">Read More</a>
            </div>
            <img src="images/presenting.jpg">
        </div>
        
        <div class="homepage-subject">
            <img src="images/teaching-juniors.jpg">
            <div class="subject-text">
                <h3>Training Junior Developers</h3>
                <p>Leave the purfume on the shelf that you picked out just for him. So you leave no trace behind, like you don't even exist.</p>
            </div>
        </div>
        
        <div class="homepage-subject">
            <div class="subject-text">
                <h3>Dogs</h3>
                <p>Leave the purfume on the shelf that you picked out just for him. So you leave no trace behind, like you don't even exist.</p>
            </div>
            <img src="images/izzy.jpg">
        </div>
        
        <div class="homepage-subject">
            <img src="images/taylor-swift.jpg">
            <div class="subject-text">
                <h3>Taylor Swift</h3>
                <p>Leave the purfume on the shelf that you picked out just for him. So you leave no trace behind, like you don't even exist.</p>
            </div>
        </div>

        <div class="homepage-subject" id="mysterious-pineapples">
            <div id="full-width-subject" class="subject-text">
                <h3>Mysterious Pineapples</h3>
                <p>Leave the purfume on the shelf that you picked out just for him. So you leave no trace behind, like you don't even exist.</p>
            </div>
        </div>

    </section>

    <%- include ("../partials/footer"); -%>

    <script src="/js/typewriter.js"></script>
    <script src="/js/contact.js"></script>
</body>

</html>
