<!doctype html>

<html lang="en">

<%- include ("../partials/head", {env: env}) %>

<body>
    <% if (env !== "development") { %>
        <%- include ("../partials/bodyGTM") %>
    <% } %>

    <%- include ("../partials/header", {subheading: 'Teacher and Mentor'}) %>

    <div id="cards">
        <div class="card">
            <div class="card-header">
                <h3>She Codes</h3>
                <img src="images/project-logos/she-codes.png">
            </div>
            <p>
                She Codes is a startup, based in Perth, that is on a mission to teach women coding skills, get women into technical careers, and build communities of like-minded women. Their vision is to increase diversity in tech by inspiring 100,000 women across Australia by 2025.
            </p>
            <p>
                Plus launched in Perth in 2019 and is a 5 month part time course designed to help women transition into tech careers. In 2019, as Lead Mentor, I taught the first three months of the course where the students learned HTML, CSS, Python and Django, and continued on in a support role for the second half of the course. In 2020 I am the Lead Mentor for all 5 months in Perth, and we are also running the course in Brisbane where I am Lead Mentor for the first 6 weeks. I am also the Content Developer and Coordinator for the course.
            </p>
            <p>
                Flash is a 5 day program designed to give women a taster of several different areas of tech, including Web Development, Python, Flask, Data and Algorithms. I developed the content for each of these topics and was the lead mentor for the first Flash program in 2019. 
            </p>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>NCSS</h3>
                <img src="images/project-logos/ncss.png">
            </div>
            <p>
                The National Computer Science School runs a summer camp program, which I attended as
                a student in 2014 and 2015, an industry mentor in 2016, and a tutor in 2017 and 2018.
                NCSS is what made me realise that I wanted a career in Software! It is a 10 day event
                where students from all over Australia and New Zealand, as well as tutors from all over
                the world, come together to learn and experience Computer Science. It's just as nerdy as
                it sounds and is always an incredible experience!
            </p>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Gather Workshops</h3>
                <img src="images/project-logos/gather-workshops.png">
            </div>
            <p>
                For three years I worked part time with Gather Workshops as a presenter and mentor
                for their workshops. I was involved with delivering workshops on Python,
                JavaScript, HTML/CSS and Robotics to students and teachers across New Zealand.
            </p>
        </div>
    </div>

    <%- include ("../partials/footer"); -%>

    <script src="/js/contact.js"></script>
</body>

</html>
