
<!doctype html>
<html lang="en">
	<head>
		<title>3D NZ</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				color: #ffffff;
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
			}
		</style>
	</head>

	<body>
		<div id="container"></div>

		<!--

		<script src="js/three.min.js"></script>

		<script src="Detector.js"></script>
		<script src="stats.min.js"></script>
		<script src="OrbitControls.js"></script>
		<script src="Tween.js"></script>
		<script src="TweenMax.min.js"></script>
		<script src="TimelineMax.min.js"></script>

		<script src="js/jquery-2.1.3.min.js"></script>

		<script src="js/webgl.js"></script>
		
		-->


		<script type="text/javascript" src="{{ url_for('static', filename='js/three.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/Detector.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/stats.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/Tween.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/TimelineMax.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/webgl.js') }}"></script>



	</body>

</html>
