
{% extends "layout.html" %}
{% block body %}

<section id="about" class="content">

    <h2>
        About
    </h2>

    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
    Place holder text! So much placeholder text!
</section>

{% endblock %}
