{% extends "layout.html" %}
{% block body %}


        <!--ul class="button-group">
            <li><a href="#" class="button">Nav Item 1</a></li>
            <li><a href="#" class="button">Nav Item 2</a></li>
            <li><a href="#" class="button">Nav Item 3</a></li>
        </ul-->

        <div class="row">

            <div class="large-6 columns">

                <h3 class="show-for-small">Articles<hr/></h3>

                <div class="panel">
                    <h4 class="hide-for-small">Articles<hr/></h4>
                    <h5 class="subheader">
                        Below is an ever-growing collection of articles I've read and thought were worth sharing. Articles tend to be about tech, feminism, code, or just anything awesome. Always looking for new blogs, channels and podcasts - let me know if you find a good one!
                    </h5>
                </div>

                <div class="row">

                    <div class="large-6 small-6 columns">

                        <div class="panel">
                        <h6 class="subheader">
                            Learn more about my technical side...
                        </h6>
                        <a href="{{ url_for('about') }}" class="small button">About Me</a>

                    </div>

                </div>

                <div class="large-6 small-6 columns">
                    <div class="panel">
                        <h6 class="subheader">
                            See what I've been up to lately...
                        </h6>
                        <a href="{{ url_for('projects') }}" class="small button">Projects</a>
                    </div>
                </div>

            </div>
        </div>

         <div class="large-6 hide-for-small columns">
                <a class="twitter-timeline" href="https://twitter.com/hayleyavw" data-widget-id="599172629593923584">Tweets by @hayleyavw</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
    </div>

    {% if session.logged_in %}
            <div class="large-6 small-6 columns">
            <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
                Title: <textarea name="title"></textarea>
                Image url: <textarea name="image" rows="2"></textarea>
                Link: <textarea name="link" rows="2"></textarea>
                <input type="submit" value="Share">
            </form>
            </div>

            {% for entry in entries %}
                <!--change from view to edit post-->
                <div class="large-3 small-6 columns">
                    <a href="/viewpost/{{ entry.id}}">
                        <img src="{{ entry.image }}">
                        <div class="panel">
                            <p>{{ entry.title }}</p>
                        </div>
                    </a>
                    <form action="/delete/{{ entry.id }}" method="post">
                        <input type="submit" value="delete" />
                    </form>
                </div>
                <!--a href="/viewpost/{{ entry.id }}"><h3>{{ entry.title }}</h3></a-->

                {% else %}
                    <em>Unbelievable. No entries here so far.</em>

            {% endfor %}


        {% else %}


        <div class="row">
            {% for entry in entries %}
                <div class="large-3 small-6 columns">
                    <img src="{{ entry.image }}">
                    <div class="panel">
                        <a target="_blank" href="{{ entry.link }}"><p>{{ entry.title }}</p></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% endif %}

{% endblock %}

