


{% extends "layout.html" %}
{% block body %}

    
    <section>
            <!--
        <aside>    
            <a class="twitter-timeline" href="https://twitter.com/hayleyavw" data-widget-id="508203165036986369">Tweets by @hayleyavw</a>
            <script>
                !function(d,s,id) {
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)) {
                        js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js,fjs);
                    }
                } (document,"script","twitter-wjs");
            </script>    
        </aside>
        -->
        <h2>Blog</h2>

        {% if session.logged_in %}

            <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
                Title
                <textarea name="title"></textarea>
                <br>
                <br>
                Text
                <textarea name="text" rows="10"></textarea>
                <input type="submit" value="Share">
            </form>

            {% for entry in entries %}

                <a href="/viewpost/{{ entry.id }}"><h3>{{ entry.title }}</h3></a>
                <form action="/delete/{{ entry.id }}" method="post">
                    <input type="submit" value="delete" />
                </form>
                <!--
                <form action="{{ url_for('delete_entry', postID=entry.id) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="submit" value="Delete entry" />
                </form>
                -->
                <br>

                {% else %}
                    <em>Unbelievable. No entries here so far.</em>

            {% endfor %}
        
        {% else %}
            {% for entry in entries %}
                <a href="/viewpost/{{ entry.id }}"><h3>{{ entry.title }}</h3></a>
                <br>
                {% else %}
                    <em>Unbelievable. No entries here so far.</em>
            {% endfor %}
        {% endif %}



        <div class="clearfix"></div>
    </section>


{% endblock %}