


{% extends "layout.html" %}
{% block body %}
    
    <section>

        <aside>
            <img src="{{ url_for('static', filename='images/home/me6.jpg') }}" alt="Hayley van Waas">

            <a href="https://twitter.com/hayleyavw" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @hayleyavw</a>
            <script>
                !function(d,s,id) {
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)) {
                        js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js,fjs); }
                    } (document, 'script', 'twitter-wjs');
            </script>

        </aside>
        <h2>
            About Me
        </h2>
        <p>
            My name is Hayley, and I am a programmer.
        </p>
        <p>
            I have been programming for a few years now and have worked in Python, HTML, CSS, Javascript/jQuery, SQL, PHP and Java. My first language was Python, and is still my preferred language - although I will admit, HTML/CSS is growing on me.
        </p>
        <p>
            Below is a brief description of my work, if you would like to view my official CV, please do not hesitate to <a href="contactform">contact me.</a>
        </p>
        <br>
        <h3>My skills...</h3>
        <ul>
            <li>
                <h4>Version Control</h4>
                <p>
                    Never will I work without a version control system again. These days I work with Git for all my projects, and will never go back.
                </p>
            </li>
            <li>
                <h4>Front-End Web Development</h4>
                <p>
                    This includes HTML5 and CSS3 obviously, and I have recently started working with SASS and Compass, I don't know why I didn't start using them earlier. Also I have used a little bit of jQuery of late as well, easy framework to icorporate into a site.
                </p>
            </li>
            <li>
                <h4>Back-End Development</h4>
                <p>
                    Or 'logic programming' as I prefer to call it. This is the area I prefer to work with as this is what I have had the most experience in.
                </p>
            </li>
            <li>
                <h4>Databases</h4>
                <p>
                    Databases weren't my preferred area of computer science for a long time, but I am finally starting to see their potential. Although I wouldn't yet call myself an expert, I have mastered the basics of SQLite and MySQL.
                </p>
            </li>
        </ul>
        <br>
        <h3>What I want to learn...</h3>
        <ul>
            <li>
                <h4>Mobile App Development</h4>
                <p>
                    I am gradually easing into a mobile app development project, but there is still so much to learn. I am starting with Java for an Android app, Java is a tough language to break into I've found, but so far it's going alright.
                </p>
            </li>
            <li>
                <h4>Frameworks</h4>
                <p>
                    There are so many of these out there! This site was actually built on Flask, a Python framework, but there are many more to explore, so a few mini projects may arise in an effort to get more experience with different frameworks.
        </ul>
        <br>
        <h3>I've also had experience with...</h3>
        <ul>
            <li>
                <h4>Teaching</h4>
                <p>
                    Teaching programming is something I absolutely love doing. I have been involved with teaching Python for a few months now and I find it be very rewarding work.
                </p>
            </li>
            <li>
                <h4>Public Speaking</h4>
                <p>
                    Another passion of mine! I have given presentations on a number of different topics, including:
                    <li class="list">Computer Science in High Schools</li>
                    <li class="list">Internet Safety</li>
                    <li class="list">Influence of Technology on Leadership in the 21st Century</li>
                </p>
            </li>
        </ul>

    <div class="clearfix"></div>
  </section>
{% endblock %}