
{% extends "layout.html" %}
{% block body %}


<div class="row">

    <div class="large-8 columns">

        <h3 class="show-for-small">About Me<hr/></h3>

        <div class="panel">
            <h4 class="hide-for-small">About Me<hr/></h4>
            <h5 class="subheader">
                Hi :) My name is Hayley and I am a programmer, nerd, tweeter, feminist and tech shirt enthusiast.
            </h5>
        </div>

        <div class="row">

            <div class="large-6 small-6 columns">

                <div class="panel">

                    <h6 class="subheader">
                        A diverse collection of tech articles...
                    </h6>
                    <a href="{{ url_for('articles') }}" class="small button">Articles</a>

                </div>

            </div>

            <div class="large-6 small-6 columns">
                <div class="panel">
                    <h6 class="subheader">
                        See what I've been up to lately...
                    </h6>
                    <a href="{{ url_for('projects') }}" class="small button">Projects</a>
                </div>
            </div>

        </div>
    </div>

    <div class="large-4 hide-for-small columns">
        <img class="large-image" src="{{ url_for('static', filename='images/home/me.jpg') }}" alt="Hayley van Waas">
    </div>

</div>



<div class="row">
    <div class="large-12 columns">
        <div class="radius panel">

        <p>
            My name is Hayley, and I am a programmer.
        </p>
        <p>
            I have been programming for a few years now and have experience in Python, HTML, CSS, JavaScript, MySQL, PHP, Java... My first language was Python and it is still my preferred language, although I also enjoy working with JavaScript.
        </p>
        <p>
            Below is a brief description of my work, if you would like to view my official R&eacutesum&eacute, please <a href="contactform">contact me.</a>
        </p>
        <br>
        <h3>My skills...</h3>
        <ul>
            <li>
                <h4>Version Control</h4>
                <p>
                    Never will I work without a version control system again. These days I work with Git for all my projects, and will never go back.
                </p>
            </li>
            <li>
                <h4>Front-End Web Development</h4>
                <p>
                    This includes HTML5 and CSS3 obviously, and I have recently started working with SASS and Compass, I don't know why I didn't start using them earlier. Also I have used a little bit of jQuery of late as well, easy library to incorporate into a site.
                </p>
            </li>
            <li>
                <h4>Back-End Development</h4>
                <p>
                    This is probably my preferred area of programming, tying together an app and its database in a logical way is always a challenge that I enjoy working through.
                </p>
            </li>
            <li>
                <h4>Databases</h4>
                <p>
                    I am very familiar with both MySQL and SQLite. I've mostly worked with SQLite because I love the simplicity, it is so easy to get up and and running quickly.
                </p>
            </li>
        </ul>
        <br>
        <h3>What I want to learn...</h3>
        <ul>
            <li>
                <h4>Data Visualisation</h4>
                <p>
                    This is an area I have recently started exploring, having only recently completed a project using WebGL through the Three.js library for JavaScript. I hope to gain more experience in projects of this kind over the next few months.
                </p>
            </li>
            <li>
                <h4>Mobile App Development</h4>
                <p>
                    Recently I started delving into app development, and created an Android app. Java was a tough language to break into, and although I completed the app up to a standard I was happy to publish, I still have a lot to learn.
                </p>
            </li>
            <li>
                <h4>Django</h4>
                <p>
                    After using Flask for this website I have discovered the potential of a framework to make development so much easier. There are plenty of these out there, and since Django seems to be one of the most popular python frameworks, I'm keen to try it out.
                </p>
            </li>
        </ul>
        <br>
        <h3>I've also had experience with...</h3>
        <ul>
            <li>
                <h4>Teaching</h4>
                <p>
                    Teaching programming is something I absolutely love doing. I have been involved with teaching Python for a few months now and I find it be very rewarding work.
                </p>
            </li>
            <li>
                <h4>Public Speaking</h4>
                <p>
                    Another passion of mine! I have given presentations on a number of different topics, including:
                    <li class="list">Computer Science in High Schools</li>
                    <li class="list">Internet Safety</li>
                    <li class="list">The Influence of Technology on Leadership in the 21st Century</li>
                </p>
            </li>
        </ul>
        </div>
        </div>
</div>

{% endblock %}
