
{% extends "header.html" %}
{% block body %}

<div id="right-panel">

	<h3>Projects</h3>

	<p>
		<h4>Computer Science Unplugged</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis ante in ipsum volutpat ornare a et justo. Mauris in mauris at nisl euismod suscipit id at dui. Nulla convallis tincidunt sagittis. Aliquam ut justo tincidunt, viverra sem nec, sodales metus.
		</p>

		<h4>Verto</h4>
		<p>
			Cras molestie, augue quis porttitor varius, nunc tortor luctus nisi, in lobortis mauris ex eget lacus. Sed volutpat sagittis mauris, sed congue ligula feugiat at. Pellentesque efficitur fringilla quam. Sed finibus laoreet arcu, non consequat metus fringilla ut. Phasellus sit amet porttitor tortor.
		</p>

		<h4>Computer Science Field Guide</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis ante in ipsum volutpat ornare a et justo. Mauris in mauris at nisl euismod suscipit id at dui. Nulla convallis tincidunt sagittis. Aliquam ut justo tincidunt, viverra sem nec, sodales metus.
		</p>

		<h4>Google Internship</h4>
		<p>
			Cras molestie, augue quis porttitor varius, nunc tortor luctus nisi, in lobortis mauris ex eget lacus. Sed volutpat sagittis mauris, sed congue ligula feugiat at. Pellentesque efficitur fringilla quam. 
		</p>

		<h4>REANNZ</h4>
		<p>
		Sed finibus laoreet arcu, non consequat metus fringilla ut. Phasellus sit amet porttitor tortor. Phasellus sit amet porttitor tortor.
		</p>
	</p>

</div>


<div id="left-panel">

	<h3>About Me</h3>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis ante in ipsum volutpat ornare a et justo. Mauris in mauris at nisl euismod suscipit id at dui. Nulla convallis tincidunt sagittis. Aliquam ut justo tincidunt, viverra sem nec, sodales metus.
	</p>

	<p>
		Cras molestie, augue quis porttitor varius, nunc tortor luctus nisi, in lobortis mauris ex eget lacus. Sed volutpat sagittis mauris, sed congue ligula feugiat at. Pellentesque efficitur fringilla quam. Sed finibus laoreet arcu, non consequat metus fringilla ut.
	</p>

</div>

{% endblock %}
