<!doctype html>

<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61782039-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-61782039-1');
		</script>

		<meta charset="utf-8">
		<title>Hayley van Waas - developer</title>
		<meta name="description" content="Website of freelance developer, Hayley van Waas">
		<meta name="keywords" content="HTML, CSS, JavaScript, Threejs, WebGl, Hayley van Waas, Freelancer, Freelance developer, developer, software developer, software engineer, web developer, python programmer, python, computer science unplugged, cs unplugged, cs field guide, csfg, computer science field guide, hayleys health foods, google, reannz, ncss, national computer science school, gather workshops, html, css, scss, css3, html5, framework, flask, threejs, fullstack, server, linux, npm, node, verto, software engineering, engineer, user experience, user experience engineer, user experience researcher, ux, user experience study, user expereince expert, hci, ux researcher, ux expert, human computer interaction, backend developer, frontend developer">
		<meta name="author" content="Hayley van Waas">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
		<!-- style -->
		<link rel="stylesheet" href="stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid|Roboto" rel="stylesheet">

		<!-- structured data for SEO -->
		<script type="application/ld+json">
    		{
				"@context": "https://schema.org",
				"@type": "Organization",
				"url": "hayleyavw.comg",
				"contactPoint": [
					{
						"@type": "ContactPoint",
				 		"telephone": "+61-468-424-969",
				  		"contactType": "sales",
				  		"areaServed": "AU",
				  		"availableLanguage": "English"
					}
				]
			}
		</script>

	</head>

	<body>
		<header>
			<div id="header-wrapper">
				<img src="images/hayley-van-waas.jpg" alt="Profile photo of Hayley van Waas.">
				<div id="heading-text">
					<h1>Hi, I'm Hayley.</h1>
					<h2>Developer</h2>
				</div>
			</div>
		</header>

		<nav>
			<a href="#introduction">Intro</a>
			<a href="#projects">Projects</a>
			<a href="#contact">Contact</a>
		</nav>

		<div id="wrapper">
			
			<section id="about">
			</section>

			
			<section id="projects">
				<a class="anchor" name="projects"></a> 

				<project-details
					class="dogs"
					title="TODO"
					list-item-0="First item on the list"
					list-item-1="Second item on the list"
					list-item-2="Third item on the list"
					list-item-3="Fourth item on the list"
					list-item-4="Fifth item on the list"
					listItem="This will not appear"
					add-item-text="Add new list item:"
				>
			</project-details>
			</section>



			<section id="contact">
				<a class="anchor" name="contact"></a> 
				<div class="cards">
					<h3>Get in touch!</h3>
					<div class="contact-card">

						<p id="contact-message">If you would like to hire me for a project, ask a few questions, or simply tell me I'm awesome, I'd love to hear from you!</p>

						<form id="contact-form">
		                    <div class="form-element">
		                        <label for="name">Your Name</label>
		                        <input name="name" id="name" required>
		                    </div>

		                    <div class="form-element">
		                        <label for="email">Your Email</label>
		                        <input type="email" name="email" id="email" placeholder="example@email.com" required>
		                    </div class="form-element">

		                    <div class="form-element">
		                        <label for="message">Your Message</label>
		                        <textarea name="message" id="message" required></textarea>
		                    </div>

		                    <div id="message-submit-button" class="form-element">
		                        <input type="button" onclick="sendEmail()" value="Send" class="submit-button">
		                    </div>
		                </form>

		                <div id="overlay">
		                	<p>Message sent!</p>
		                </div>

	                </div>

				</div>
			</section>
		
		</div>
			
		<script src="js/script.js"></script>
		<script src="js/project.js"></script>
	</body>

</html>
