<!DOCTYPE html>
<html>
<head>
  <title>Hayley - Beginner Computer Scientist</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="Hayley van Waas, beginner, programmer, blog, ncss, eureka
                  gather, gather workshops, web rangers, learn to code,
                  Sir Paul Callaghan Awards for Young Science Orators, Nethui,
                  computer science, student">
  <meta name="description" content="Website of Hayley van Waas, a beginner programmer, read
                    the blog and learn to code!">
  <meta name="author" content="Hayley van Waas">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
</head>
<body>
<div class="wrapper">
<header>
  <h1>hayleyavw.com</h1>
  <nav>
    <a href="/">home</a>
    <a href="blog">blog</a>
    <a href="projects">projects</a>
  </nav>
  <div class="clearfix"></div>
</header>

{% block body %}{% endblock %}


<footer>
  &#169; hayleyavw.com 2014
</footer>

</div> <!-- .wrapper -->

</body>
<script src="{{ url_for('static', filename='js/animate.js') }}"></script>
</html>