<!DOCTYPE html>
<html>

    <head>
        <title>hayleyavw</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="Hayley van Waas, programmer, blog, gather workshops, computer science, feminist, tech, articles">
        <meta name="description" content="Website of Hayley van Waas, a programmer, nerd, tweeter, feminist and tech shirt enthusiast.">
        <meta name="author" content="Hayley van Waas">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
        <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/foundation.css') }}">-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/style.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>-->
    </head>

    <body>

        {% block body %} {% endblock %}

    </body>
    <footer>

    </footer>
</html>
