{% extends "layout.html" %}
{% block body %}

	<section>

		<h2>Login</h2>
		{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
		  
		  
		<form class="login-form" action="{{ url_for('login') }}" method="post">
		      
		      
		    <input type="text" name="username" placeholder="Username">

		      
		    <input type="password" name="password" placeholder="Password">

		    <input class="submit-button" type="submit" value="Login">

		    
		</form>
		
	</section>

{% endblock %}