 

{% extends "layout.html" %}
{% block body %}
    <section>

        <h2>Projects</h2>
        <p>
            Below are descriptions of a few projects I am working on/have been involved with. If you would like to know more about a particular project, please do not hesitate to <a href="contactform">contact me</a> for more information.
        </p>
        <br>
        <h3>Gather Workshops</h3>
        <p>
            Gather is on a mission to increase the uptake of the Computer Science subject in high schools. Our strategy is to take workshops around the country at different high schools, for teachers and for students. In my role as a presenter for the Python workshops, I work with both students and teachers to grow their appreciation for programming and its place in the curriculum.
        </p>
        <p>
            Gather is an industry funded operation, so if you think you can help us out please <a href="contactform">contact me.</a>
        </p>
        <p>
            To learn more about Gather, visit the <a href="http://gathergather.co.nz/workshops/"> website</a> or follow us on Twitter.
        </p>
            <a href="https://twitter.com/gatherworkshops" class="twitter-follow-button" data-show-count="false">Follow @gatherworkshops</a>
            <script>
                !function(d,s,id) {
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)) {
                        js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js,fjs); }
                    } (document, 'script', 'twitter-wjs');
            </script>
        </p>

        <br>

        <h3>This Website</h3>
        <p>
            Behind this site is a mix of languages, including HTML5, CSS3, SQLite and Python. It is built using the Flask framework.
        </p>
        <p>
            The source code can be viewed <a href="https://hayley_van_waas@bitbucket.org/hayley_van_waas/flaskr.git"> here </a> via a public Bitbucket Repository.
        </p>

        <br>

        <h3>NCEA Tracker</h3>
        <p>
            Currently I am delving into app development. This Android app will aid students in keeping track of their NCEA credits, a time consuming and sometimes frustrating task performed by thousands of senior high school students every year. The app is being written in Java, with SQLite for data storage. This is a project I am working on in my free time to improve my understanding of Java, and is due for completion in early 2015.
        </p>
        <p>
            Watch this space, a Bitbucket repository which will appear here soon.
        </p>

        <br>

        <h3>Rover</h3>
        <p>
            Recently I attended an education themed Start Up Weekend in Wellington. This was a fantastic experience, in less than 48 hours our team of only 4 designed a business and a prototype for our product.
        </p>
        <p>
            Our team's business idea was a Mobile Audience Response system, or a "MARS". Our application's name? Rover. Rover is a web app designed to increase student engagement, targetted at university lectures, but also suitable for high school classrooms. It works by allowing the teacher to ask the students questions via their laptops and/or mobile devices, and they can then see the response in real time.
        </p>
        <p>
            Behind Rover is a PHP framework, along with SQL, HTML5, CSS3 and JavaScript code, which can be viewed <a href="https://hayley_van_waas@bitbucket.org/tanyagray/engageme.git">here.</a>
        </p>
        <p>
            Visit the <a href="http://startupweekend.org/">Start Up Weekend</a> website to register for a Start Up Weekend near you.
        </p>
        <br>

        <h3>Wish List</h3>
        <p>
            A social media inspired web application. This is a website which allows users to log on, create a list of things they want for Christmas/Birthday/Anniversary etc, which their friends can then see.
        </p>
        <p>
            This was created by a team of about 15 students, along with 5 teachers and tutors at the NCSS Summer School, in less than 10 days. My role was to create and maintain the tornado server, while other team members were working on the database management, styling, template engine etc.
        </p>
        <p>
            Wish List was created in Python, HTML5, CSS3 and SQLite.
        </p>

        <div class="clearfix"></div>
  </section>
{% endblock %}