

{% extends "layout.html" %}
{% block body %}
    <section>

        <h2>Projects</h2>
        <p>
            Below are descriptions of a few projects I am working on/have been involved with. If you would like to know more about a particular project, please do not hesitate to contact me for more information.
        </p>
        <br>
        <h3>Gather Workshops</h3>
        <p>
            Gather is on a mission to increase the uptake of the Computer Science subject in high schools. Our strategy is to take workshops around the country at different high schools, for teachers and for students. I am the newest recruit to the Gather team, but have already mentored/presented 2 workshops, with more on the horizon. Gather is an industry funded operation, so if you think you can help us out please contact me.
        </p>
        <p>
            To learn more about Gather, visit the <a href="http://gathergather.co.nz/workshops/"> website</a> or follow us on Twitter.
        </p>
            <a href="https://twitter.com/gatherworkshops" class="twitter-follow-button" data-show-count="false">Follow @gatherworkshops</a>
            <script>
                !function(d,s,id) {
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)) {
                        js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js,fjs); }
                    } (document, 'script', 'twitter-wjs');
            </script>
        </p>

        <br>

        <h3>NCEA Tracker</h3>
        <p>
            Currently I am delving into app development. This is something that I am working on only in my spare time, so progress is very slow. My app will aid students in keeping track of their NCEA credits, a time consuming and sometimes frustrating task performed my thousands of senior high school students every year. This app is being written entirely in Java. This is the first time I am working Java so it's definitely challenging, but a good learning experience.
        </p>
        <p>
            Watch this space for the Bitbucket repository which will appear here soon.
        </p>

        <br>

        <h3>Rover</h3>
        <p>
            Recently I was talked into attending an education themed Start Up Weekend in Wellington. This was a fantastic experience, in less than 48 hours our team of only 4 designed a business and a prototype for our product.
        </p>
        <p>
            We created Rover. Rover is a M.A.R.S. Web App designed to increase student engagement, targetted at university lectures, but also suitable for high school classrooms. It works by allowing the teacher to ask the students questions via their laptops and/or mobile devices, and they can then see response in real time.
        </p>
        <p>
            Visit the <a href="http://startupweekend.org/">Start Up Weekend</a> website to register for a Start Up Weekend near you.
        </p>
        <br>

        <h3>Wish List</h3>
        <p>
            A social media inspired web application. This is a website which allows users to log on, create a list of things they want for Christmas/Birthday/Anniversary etc, which their friends can then see.
        </p>
        <p>
            This was created by a team of about 15 students, along with 5 teachers and tutors at the NCSS Summer School, in less than 10 days. My job was to create and maintain the tornado server, while other team members were working on the database management, styling, template engine etc.
        </p>

        <div class="clearfix"></div>
  </section>
{% endblock %}