

{% extends "layout.html" %}
{% block body %}
    <section>

        <h2>Projects</h2>
        <p>
            I have been involved in a number of projects over the last few months, as described below.
        </p>
        
        <br>

        <h3>Gather Workshops</h3>
        <p>
            Recently I have started working with Gather. The goal of Gather is to increase the number of schools teaching Computer Science. Our strategy is to take workshops around the country at different high schools, for teachers and for students.
        </p>

        <br>

        <h3>App Development</h3>
        <p>
            Currently I am delving into app development. This is somethign that I am working only in my spare time, so progress is very slow.
        </p>

        <br>

        <h3>Rover</h3>
        <p>
            MARS Web App designed to increase student engagement, targetted at university lectures, but also suitable for high school classrooms. This was created over 48 hours at the 2014 Wellington education themed Start Up Weekend.
        </p>

        <br>

        <h3>Wish List</h3>
        <p>
            A social media inspired web application. My job in the team was to create and maintain the tornado server. We created this is less than 10 days.
            The source code is not public, contact me if you would like to know more about this work.
        </p>

        <div class="clearfix"></div>
  </section>
{% endblock %}