{% extends "layout.html" %}
{% block body %}


    <div class="row">

        <div class="large-6 small-6 columns">

            <div class="panel">
                <h6 class="subheader">
                    Learn more about my technical side...
                </h6>
                <a href="{{ url_for('about') }}" class="small button">About Me</a>
            </div>

        </div>

        <div class="large-6 small-6 columns">

            <div class="panel">
                <h6 class="subheader">
                    A diverse collection of tech articles...
                </h6>
                <a href="{{ url_for('articles') }}" class="small button">Articles</a>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="large-12 columns">
            <div class="radius panel">
                <h2>
                    Projects and Events
                </h2>

                <p>
                    The timeline below shows a few of the projects I have been involved with and the events I have been to over the last couple of years.
                    <br>
                        If you would like to know more about a particular project, feel free to <a href="contactform">contact me</a> ☺
                </p>
            </div>
        </div>
    </div>


    <h5>Today</h5>

    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h3>eResearch 2015</h3>
                <p>
                At eResearch 2015 I gave a presentation on the topic of "Visualising Network Data." This was based around the the WebGL project mentioned further down the page.
               </p>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h3>Webstock</h3>
                <p>
                    I was very lucky to be gifted a ticket to attend Webstock 2015! It was a great event, with incredible speakers.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h3>NCSS</h3>
                <p>
                    After having heaps of fun at NCSS in 2014, I was thrilled to be invited back for a second round! This time I was in a smaller team, and together we worked with arduinos on projects designed to promote health.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">January 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h3>Data Visualisation with WebGL</h3>
                <p>
                    I recently worked on a data visualisation project for a networking company here in New Zealand. This involved creating a 3D representation of their network by overlaying network data onto a model of New Zealand. This was done using Three.js, a library for JavaScript that runs on top of WebGL.
                </p>
                <p>
                    A demo of the 3D point cloud of NZ can be seen <a href="{{ url_for('NZ') }}">here</a>. (Press 'c' to watch the animation).
                    If the link does not work (give it a few seconds...), try it in Chrome (the web browser with the most WebGL support).
                </p>
                <p>
                    A screenshot of the full version features in <a href="http://www.computerworld.co.nz/article/568840/insight-enabling-nz-research-innovation-flourish/" target="_blank">this article</a>.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">December 2014 - February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h3>Escape (Text-Based Game)</h3>
                <p>
                    This is a game that I helped my cousin, Liam, to build. The idea is to try and escape from a mansion, but plenty of mythical creatures and locked doors stand in your way...
                </p>
                <p>
                    Our Bitbucket repo is <a href="https://hayleyavw@bitbucket.org/LiamSharpe/textbasedgame.git" target="_blank">here</a> if you're interested.
                </p>
                <p>
                    Also make sure to check out Liam on Twitter!
                </p>
                    <a href="https://twitter.com/TheCrowsJoker" class="twitter-follow-button" data-show-count="false">Follow @TheCrowsJoker</a>
                    <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                            if(!d.getElementById(id)){
                                js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js,fjs);
                            }
                        }
                        (document, 'script', 'twitter-wjs');
                    </script>
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">December 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h3>CS4HS</h3>
                <p>
                    Computer Science for High Schools is a conference run every year, by Universities all over the world. The goal of the conference is to help teachers gain confidence in the new computer science curriculums being introduced to schools. I was involved as a presenter and a tutor.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">December 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h3>Kiwi Pycon</h3>
                <p>
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">September 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h3>Startup Weekend & Rover</h3>
                <p>
                    Recently I attended an education themed Start Up Weekend in Wellington. This was a fantastic experience, in less than 48 hours our team of only 4 designed a business and a prototype for our product.
                </p>
                <p>
                    Our team's business idea was a Mobile Audience Response system, or a "MARS". Our application's name? Rover. Rover is a web app designed to increase student engagement, targetted at university lectures, but also suitable for high school classrooms. It works by allowing the teacher to ask the students questions via their laptops and/or mobile devices, and they can then see the response in real time.
                </p>
                <p>
                    Behind Rover is a PHP framework, along with SQL, HTML5, CSS3 and JavaScript code, which can be viewed <a href="https://hayleyavw@bitbucket.org/tanyagray/engageme.git" target="_blank">here.</a>
                </p>
                <p>
                    Visit the <a href="http://startupweekend.org/" target="_blank">Start Up Weekend</a> website to register for a Start Up Weekend near you.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">August 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h3>Gather Workshops</h3>
                <p>
                    Gather is on a mission to increase the uptake of the Computer Science subject in high schools. Our strategy is to take workshops around the country at different high schools, for teachers and for students. In my role as a presenter for the Python workshops, I work with both students and teachers to grow their appreciation for programming and its place in the curriculum.
                </p>
                <p>
                    Gather is an industry funded operation, so if you think you can help us out please <a href="contactform">contact me.</a>
                </p>
                <p>
                    To learn more about Gather, visit the <a href="http://gathergather.co.nz/workshops/" target="_blank"> website</a> or follow us on Twitter.
                </p>
                <a href="https://twitter.com/gatherworkshops" class="twitter-follow-button" data-show-count="false">Follow @gatherworkshops</a>
                <script>
                    !function(d,s,id) {
                        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                        if(!d.getElementById(id)) {
                            js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js,fjs); }
                        } (document, 'script', 'twitter-wjs');
                </script>
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">July 2014 - Today</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h3>Nethui</h3>
                <p>
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h3>NCEA Stats</h3>
                <p>
                    This app aids students in keeping track of their NCEA credits, a time consuming and sometimes frustrating task performed by thousands of senior high school students every year. The app is was written in Java, with SQLite for data storage.
                </p>
                <p>
                    View the app on <a href="https://play.google.com/store/apps/details?id=com.hayleyavw.nceatracker" target="_blank">Google Play</a> or check out the<a href="https://hayleyavw@bitbucket.org/hayleyavw/nceastats.git" target="_blank"> Bitbucket repo </a> to view the code.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">April 2014 - February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h3>This Website</h3>
                <p>
                    Behind this site is a mix of languages, including HTML5, CSS3, JavaScript, SQLite and Python. It is built using the Flask framework.
                </p>
                <p>
                    The source code can be viewed <a href="https://hayleyavw@bitbucket.org/hayleyavw/flaskr.git" target="_blank"> here </a> via a public Bitbucket Repository.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">March 2014 - February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h3>NCSS & Wish List</h3>
                <p>
                    A social media inspired web application. This is a website which allows users to log on, create a list of things they want for Christmas/Birthday/Anniversary etc, which their friends can then see.
                </p>
                <p>
                    This was created by a team of about 15 students, along with 5 teachers and tutors at the NCSS Summer School, in less than 10 days. My role was to create and maintain the tornado server, while other team members were working on the database management, styling, template engine etc.
                </p>
                <p>
                    Wish List was created in Python, HTML5, CSS3 and SQLite.
                </p>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">January 2014</span>
            </div> 
        </div>

    </section>
    <h5>January 2014</h5> 
{% endblock %}
