


{% extends "layout.html" %}
{% block body %}
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
</script>

    <section>

        <aside>
            <script>
                !function(d,s,id) {
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)) {
                        js=d.createElement(s);js.id=id;
                        js.src=p+'://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js,fjs);
                    }
                } (document, 'script', 'twitter-wjs');
            </script>
    <!-- NEEDS TO BE CHANGED TO CURRENT PAGE (CURRENTLY GOES TO STATIC DEVELOPER FB PAGE) -->
            <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="hayleyavw" data-size="small">Tweet</a>
        </aside>

            {% if session.logged_in %}

                <form action="{{ url_for('edit_entry') }}" method="post">
                    ID
                    <textarea name="id">{{ post.id }}</textarea>
                    <br>
                    <br>
                    Title
                    <textarea name="title">{{ post.title }}</textarea>
                    <br>
                    <br>
                    Text
                    <input type="submit" value="Save Changes">
                </form>

                    <br>

            {% endif %}


            <h2>{{ post.title }}</h2>


        <div class="clearfix"></div>
    </section>

{% endblock %}
