{% extends "layout.html" %}
{% block body %}

            {% if session.logged_in %}


                <form action="{{ url_for('edit_entry') }}" method="post">
                    ID: <textarea name='id'>{{ post.id }}</textarea>
                    <br>
                    Title: <textarea name="title">{{ post.title }}</textarea>
                    <br>
                    Image url: <textarea name="image">{{ post.image }}</textarea>
                    <br>
                    Link: <textarea name="link">{{ post.link }}</textarea>
                    <input type="submit" value="Save Changes">
                </form>


            {% endif %}

{% endblock %}
