@media (min-width: 1280px) {
    details {
        summary {
            .summary-row-1 {
                margin-bottom: 3px;
                .icons {
                    justify-content: flex-end;
                }
            }
            .summary-row-1,
            .summary-row-2 {
                flex-direction: row;
            }
        }
    }
}
