@media (min-width: 660px) {
    body {
        h1 {
            font-size: 3.4rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        #wrapper #blog-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}
