@media (min-width: 768px) {
    body {
        header {
            flex-direction: row;
        }

        #wrapper {
            #content {
                flex-direction: row;
                justify-content: space-between;

                #left-column {
                    flex-basis: 40%;
                }

                #right-column {
                    flex-basis: 60%;
                }

                #about,
                #projects {
                    padding: $mainBodySpacing;
                }
            }
        }
    }

    details {
        summary {
            .summary-row-1 {
                margin-bottom: 3px;
            }
            .summary-row-1,
            .summary-row-2 {
                flex-direction: row;
            }
        }
    }
}
