@media (min-width: 768px) {
    body {
        header {
            flex-direction: row;
            margin: 40px;
            #heading-text {
                text-align: left;
            }
        }

        nav {
            button,
            a {
                padding: 10px 20px 10px 20px;
            }
            img {
                margin-left: 5px;
            }
            a,
            button {
                margin: 0 10px;
                p {
                    display: inline-block;
                }
            }
        }

        #wrapper {
            #content {
                flex-direction: row;
                justify-content: space-between;

                #left-column {
                    flex-basis: 40%;
                }

                #right-column {
                    flex-basis: 60%;
                }

                #about,
                #projects,
                #blog-list {
                    padding: $mainBodySpacing;
                }
            }
        }

        #back-to-top-wrapper {
            margin-bottom: 20px;
        }
    }
}
