html {
    background-color: $offWhite;
    scroll-behavior: smooth;
}

:target {
    visibility: hidden;
    position: relative;
    top: -3rem;
}

body {
    margin: 0;
    height: 100%;
    font-family: $bodyFont;
    h1,
    h2,
    h3 {
        font-family: 'Roboto';
    }

    h1 {
        font-size: 2.8rem;
        margin: 0px;
        color: $mainColor;
    }

    h2 {
        display: inline;
        margin: 0;
        font-size: 2rem;
        color: $mainColor;
        border-right: 3px solid rgba(255, 255, 255, 0);
        &.show-cursor {
            border-right: 3px solid $secondaryColor !important;
        }
        &.highlight {
            background-color: $mainColor;
            color: $offWhite;
        }
    }

    h3 {
        color: $mainColor;
        font-size: 2rem;
        margin: 10px 10px;
    }

    h4 {
        margin: 0;
        color: $darkSecondaryColor;
        font-size: 1.2rem;
    }

    h5 {
        margin: 0;
        font-weight: bold;
        font-size: 0.8rem;
    }

    a {
        color: $mainColor;
        text-decoration: none;
        cursor: pointer;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    p {
        color: $darkSecondaryColor;
        font-size: 0.9rem !important;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 20px;
        text-align: center;

        img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 30px;
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $navPadding;
        height: $navHeight;
        box-shadow: $shadow;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $white;

        a {
            display: flex;
            align-items: center;
            &:hover,
            &:focus {
                outline: none;
                img {
                    transform: scale(1.3, 1.3) rotate(360deg);
                    transition: transform 0.7s;
                }
            }
        }

        img {
            height: 30px;
            padding: 0 10px;
            transition: none;
            cursor: pointer;
            outline: none;
            &:hover,
            &:focus {
                transform: scale(1.3, 1.3) rotate(360deg);
                transition: transform 0.7s;
            }
        }

        button {
            display: flex;
            align-items: center;
            img {
                margin-left: 5px;
                height: 1rem;
            }
        }
    }

    #wrapper {
        margin: 0px $mainBodySpacing;

        #content {
            display: flex;
            flex-direction: column;

            #about,
            #projects {
                padding: $mainBodySpacing $mainBodySpacing 0 $mainBodySpacing;
                h3 {
                    text-align: center;
                }
            }

            #about {
                position: -webkit-sticky;
                position: sticky;
                // this madness is to make sure it stays a consistent distance
                // from the nav
                top: calc(#{$navHeight} + #{$mainBodySpacing}* 2);
            }
        }

        .card {
            padding: $mainBodySpacing;
            margin-bottom: $mainBodySpacing;
            background-color: $white;
            border-radius: 5px;
        }
    }

    #contact {
        padding: $mainBodySpacing;
    }

    #contact-overlay {
        display: flex;
        flex-direction: column;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 2;
        left: 0;
        bottom: 0;
        background-color: $secondaryColor;
        overflow-x: hidden;
        transition: 0.5s;

        #close-button {
            align-self: flex-end;
            margin: 10px 20px 0 0;
            color: $white;
            font-size: 40px;
            &:hover,
            &:focus {
                color: $mainColor;
            }
        }

        #contact-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            #message-confirmation-overlay {
                display: flex;
                position: absolute;
                margin: 20px;
                top: 63px;
                left: 0;
                right: 0;
                bottom: 0;
                align-items: center;
                justify-content: center;
                z-index: -1;
                font-size: 2rem;
                background-color: $mainColor;
                color: $white;
                border-radius: 5px;
                opacity: 0;
                transition: 1s ease-out;
                &.show {
                    opacity: 1;
                    z-index: 5;
                }
            }
        }

        #contact-form {
            margin: 10px 20px 20px 20px;
            width: 100%;
            text-align: center;
            z-index: 3;
            padding: 20px;
            border: 1px solid $mainColor;

            h3 {
                color: $mainColor;
            }

            .form-element {
                display: block;
                padding: 9px;
                border: 1px solid $mainColor;
                margin-bottom: 30px;
                border-radius: 3px;
                &.empty {
                    > span {
                        display: block;
                    }
                }
            }
            .form-element:last-child {
                border: none;
                margin-bottom: 0px;
                text-align: center;
            }
            .form-element > label {
                display: block;
                float: left;
                margin-top: -28px;
                background: $white;
                height: 14px;
                padding: 7px 5px 7px 5px;
                color: $mainColor;
                font-size: 18px;
                overflow: hidden;
            }
            .form-element.disabled > label {
                color: $secondaryColor;
            }

            .form-element > span {
                background-color: $mainColor;
                display: none;
                padding: 3px;
                margin: 0 -9px -9px -9px;
                text-align: center;
                color: $white;
                font-size: 18px;
            }
            .form-element.disabled > span {
                background-color: $secondaryColor;
            }

            input[type='text'],
            input[type='email'],
            textarea {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                width: 100%;
                display: block;
                outline: none;
                border: none;
                line-height: 25px;
                padding: 0;
                font-size: 16px;
                font-family: monospace;
            }

            textarea {
                resize: none;
            }
        }
    }

    input[type='button'],
    button {
        background-color: $white;
        padding: 10px 20px 10px 20px;
        color: $mainColor;
        font-size: 1rem;
        border-radius: 5px;
        box-shadow: $shadow;
        border: none;
    }

    input[type='button']:hover,
    button:hover {
        box-shadow: $secondaryShadow;
        color: $secondaryColor;
    }

    input[type='button']:focus,
    button:focus {
        color: $secondaryColor;
        box-shadow: $secondaryShadow;
        outline: none;
    }

    button:hover a {
        color: $secondaryColor;
    }

    #back-to-top-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $white;
        line-height: 1.5rem;
        cursor: pointer;

        p {
            margin: 0;
        }
    }
}

details {
    margin-bottom: 10px;
    background-color: $white;
    border-radius: 5px;

    ::slotted(div) {
        padding: 10px;
    }

    &[open] {
        border-color: $secondaryColor;
        .chevron {
            stroke: $secondaryColor;
        }
        &:hover {
            box-shadow: $secondaryShadow;
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;

        &:hover {
            .tooltip-text {
                visibility: visible;
            }
            // little triangle below tooltip
            &:before {
                position: absolute;
                display: block;
                border: solid;
                border-color: $darkSecondaryColor transparent;
                border-width: 0.4em 0.4em 0 0.4em;
                bottom: 45px;
                left: 10px;
                z-index: 2;
                content: '';
            }
        }

        .tooltip-text {
            visibility: hidden;
            position: absolute;
            z-index: 1;
            padding: 5px 15px;
            bottom: 50px;
            left: 0;
            background-color: $darkSecondaryColor;
            opacity: 0.9;
            color: $white;
            text-align: center;
        }
    }

    summary {
        display: flex;
        align-items: center;
        padding: 10px;

        .summary-wrapper {
            flex-basis: 94%;
        }

        .summary-chevron-up {
            flex-basis: 6%;
            display: flex;
            justify-content: center;
        }

        .chevron {
            stroke: $mainColor;
        }

        &::-webkit-details-marker {
            display: none;
        }

        &:focus {
            outline: none;
            border-top: 3px solid $secondaryColor;
        }

        &:hover,
        &:focus {
            .chevron {
                stroke: $secondaryColor;
            }
        }
    }

    .summary-row-1 {
        .icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
    }

    .summary-row-2 {
        h5 {
            text-align: center;
        }
    }

    .summary-row-1,
    .summary-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .project-logo,
        .icons,
        h5 {
            margin: 3px 0;
        }
    }

    .project-logo {
        max-height: 40px;
        max-width: 100%;
    }

    img {
        height: 40px;
    }

    &:hover {
        box-shadow: $shadow;
    }
}
