nav {
    display: flex;
    justify-content: space-between;
    a {
        margin: 0 $spacingSizeOne;
    }
    #left-nav {
        display: flex;
        a {
            display: flex;
            align-items: center;
        }
        img {
            height: 18px;
        }
    }
    #right-nav {
        text-align: right;
    }
}
