// colors
$mainColor: #d16689;
$secondaryColor: #3e3e3e;
$offWhite: #f6f5f3;
$white: #fff;

// font
$bodyFont: 'Roboto', sans-serif;

// nav
$navPadding: 15px;
$navHeight: calc(60px - #{$navPadding});

// about and project
$mainBodySpacing: 10px;
