// colors
// $blue: #6287c6;
$mainColor: #D16689;
$highlightColor: #8ba9dd;
$secondaryColor: #636b77;
$darkSecondaryColor: #3e3e3e;
$offWhite: #f6f5f3;
$white: #fff;

// fonts
$bodyFont: 'Roboto', sans-serif;

$border: 1px solid $mainColor;
$shadow: 0 2px 5px 0 rgba(209, 102, 137, 0.16), 0 2px 10px 0 rgba(209, 102, 137, 0.12);
$secondaryShadow: 0 2px 5px 0 rgba(99, 107, 119, 0.16), 0 2px 10px 0 rgba(99, 107, 119, 0.12);

// nav
$navPadding: 15px;
$navHeight: calc(60px - #{$navPadding});

// about and project
$mainBodySpacing: 10px;