$highlight-color: #8ba9dd;
$shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$grey-text: #636b77;

html {
	background-color: #f6f5f3;
	scroll-behavior: smooth;
}

h1 {
	font-size: 3.4rem;
	margin: 0px;
}

h2 {
	font-family: 'Londrina Outline', cursive;
	font-size: 3.2rem;
	margin: 0;
}

h3 {
	color: $highlight-color;
	font-size: 2rem;
	margin: 10px 10px;
}

h1, h3, h4 {
	font-family: 'Londrina Solid', cursive;
}

h1, h2 {
	color: #FFF;
}

h4 {
	font-size: 2rem;
	color: $grey-text;
	margin: 5px;
}

h5 {
	font-weight: bold;
	font-size: 1rem;
	a {
		color: #000;
		text-decoration: none;
	}
}

a {
	color: #6287c6;
	text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -3rem;
  visibility: hidden;
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
	height: 250px;
	background-color: $highlight-color;
	#header-wrapper {
		display: flex;
		align-items: center;
		margin: auto;
		height: 100%;
		img {
			height: 200px;
			width: 200px;
			object-fit: cover;
			border-radius: 50%;
			box-shadow: $shadow;
			margin-right: 30px;
		}
		#heading-text {
			text-shadow: 2px 2px rgba(0,0,0,0.12);
		}
	}
}

nav {
	display: flex;
	justify-content: center;
	background-color: #FFF;
	border-bottom: 1px solid $highlight-color;
	padding: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: $shadow;
	a {
		margin: 0 20px;
	}
}

#wrapper {
	margin: 0 100px;

	#projects {
		
		margin-top: 20px;
	
	}
}


details {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

details summary {
	display: flex;
	align-items: center;
}

details summary .summary-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
details img {
	height: 20px;
}
