$blue: #6287c6;
$highlightBlue: #8ba9dd;
$grey: #636b77;
$darkGrey: #3E3E3E;
$offWhite: #f6f5f3;
$white: #fff;
$shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$bodyFont: 'Roboto', sans-serif;

html {
	background-color: $blue;
	scroll-behavior: smooth;
}

:target {
	visibility: hidden;
	position: relative;
	top: -3rem;
}

h1, h2, h3 {
	font-family: 'Londrina Solid', cursive;
}

h1 {
	font-size: 3.4rem;
	margin: 0px;
	color: $white;
}

h2 {
	font-size: 3.2rem;
	margin: 0;
	color: $white;
}

h3 {
	color: $white;
	font-size: 2rem;
	margin: 10px 10px;
}

h4 {
	margin: 0;
	color: $darkGrey;
	font-size: 1.2rem;
}

h5 {
	margin: 0;
	font-weight: bold;
	font-size: 0.8rem;
}

a {
	color: $blue;
	text-decoration: none;
}

body {
	margin: 0;
	height: 100%;
	font-family: $bodyFont;

	p {
		color: $darkGrey;
		font-size: 0.9rem !important;
	}

	header {
		display: flex;
		height: 250px;
		
		#header-wrapper {
			display: flex;
			align-items: center;
			margin: auto;
			height: 100%;
			
			img {
				height: 200px;
				width: 200px;
				object-fit: cover;
				border-radius: 50%;
				box-shadow: $shadow;
				margin-right: 30px;
			}
			
			#heading-text {
				text-shadow: 2px 2px rgba(0,0,0,0.12);
			}
		}
	}

	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: $white;
		border-bottom: 1px solid $highlightBlue;
		box-shadow: $shadow;
		cursor: pointer;
		
		a, button {
			margin: 0 20px;
			font-size: 1rem;
		}

		a:hover,
		a:focus {
			color: $darkGrey;
			outline: none;
		}

		a:focus {
			text-decoration: underline;
		}

		button {
			display: flex;
			align-items: center;
			img {
				margin-left: 5px;
				height: 1rem;
			}
		}
	}

	#wrapper {

		margin: 0px 10px;

		#top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;

			#left-column {
				flex-basis: 40%;
			}
			
			#right-column {
				flex-basis: 60%;
			}

			#workshops, #about, #projects {
				padding: 10px;
			}
		}
		
		.card {
			padding: 10px;
			margin-bottom: 10px;
			background-color: $white;
			box-shadow: $shadow;
		}
		
	}

	#contact {
		padding: 10px;
	}

	#contact-overlay {
		height: 0%;
		width: 100%;
		position: fixed;
		z-index: 2;
		left: 0;
		bottom: 0;
		background-color: $grey;
		overflow-x: hidden;
		transition: 0.5s;

		#close-button {
			position: absolute;
			top: 20px;
			right: 45px;
			color: $white;
			font-size: 40px;
		}

		#contact-wrapper {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
		}

		#contact-form {
			margin: 20px;
			width: 100%;
			text-align: center;
			z-index: 3;
			padding: 20px;

			h3 {
				color: $blue;
			}

			.form-element {
				display: block;
				padding: 9px;
				border: 1px solid $blue;
				margin-bottom: 30px;
				border-radius: 3px;
			}
			.form-element:last-child{
				border:none;
				margin-bottom: 0px;
				text-align: center;
			}
			.form-element > label{
				display: block;
				float: left;
				margin-top: -19px;
				background: $white;
				height: 14px;
				padding: 2px 5px 2px 5px;
				color: $blue;
				font-size: 14px;
				overflow: hidden;
			}
			
			.form-element > span{
				background: $blue;
				display: block;
				padding: 3px;
				margin: 0 -9px -9px -9px;
				text-align: center;
				color: $white;
				font-size: 11px;
			}

			input[type="text"],
			input[type="email"],
			textarea {
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				width: 100%;
				display: block;
				outline: none;
				border: none;
				line-height: 25px;
				padding: 0;
				font-size: 16px;
				font-family: monospace;
			}

			textarea{
				resize:none;
			}
		}

		
	}

	input[type="submit"],
	button {
		background-color: $blue;
		border: none;
		padding: 10px 20px 10px 20px;
		color: $white;
	}

	input[type="submit"]:hover,
	button:hover {
		background-color: $highlightBlue;
		color:$white;
	}

	input[type="submit"]:focus,
	button:focus {
		background-color: $darkGrey;
		outline: none;
	}

}


details {
	margin-bottom: 10px;
	background-color: $white;
	box-shadow: $shadow;
	
	::slotted(div) {
		padding: 10px;
	}
	
	summary {
		display: flex;
		align-items: center;
		padding: 10px;
		
		.summary-wrapper {
			width: 100%;
		}
		
		&::-webkit-details-marker {
			display: none;
		}
	}
	
	.summary-row-1 {
		margin-bottom: 3px;
	}
	
	.summary-row-1, .summary-row-2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	img {
		height: 40px;
	}

	&:hover {
		background-color: lighten($grey, 40%);
	}
}
