// COLOURS //

// Primary colour
$primaryOne: #FFE3EC;
$primaryTwo: #FFB8D2;
$primaryThree: #FF8CBA;
$primaryFour: #F364A2;
$primaryFive: #E8368F;
$primarySix: #DA127D;
$primarySeven: #BC0A6F;
$primaryEight: #A30664;
$primaryNine: #870557;
$primaryTen: #620042;  
  
    // Neutrals
$neutralOne: #F5F7FA;
$neutralTwo: #E4E7EB;
$neutralThree: #CBD2D9;
$neutralFour: #9AA5B1;
$neutralFive: #7B8794;
$neutralSix: #616E7C;
$neutralSeven: #52606D;
$neutralEight: #3E4C59;
$neutralNine: #323F4B;
$neutralTen: #1F2933;  
  
    // Supporting
$supportingOne: #F2EBFE;
$supportingTwo: #DAC4FF;
$supportingThree: #B990FF;
$supportingFour: #A368FC;
$supportingFive: #9446ED;
$supportingSix: #8719E0;
$supportingSeven: #7A0ECC;
$supportingEight: #690CB0;
$supportingNine: #580A94;
$supportingTen: #44056E;  
  
$cyanOne: #E1FCF8;
$cyanTwo: #C1FEF6;
$cyanThree: #92FDF2;
$cyanFour: #62F4EB;
$cyanFive: #3AE7E1;
$cyanSix: #1CD4D4;
$cyanSeven: #0FB5BA;
$cyanEight: #099AA4;
$cyanNine: #07818F;
$cyanTen: #05606E; 
  
$redOne: #FFE3E3;
$redTwo: #FFBDBD;
$redThree: #FF9B9B;
$redFour: #F86A6A;
$redFive: #EF4E4E;
$redSix: #E12D39;
$redSeven: #CF1124;
$redEight: #AB091E;
$redNine: #8A041A;
$redTen: #610316;
  
$yellowOne: #FFFBEA;
$yellowTwo: #FFF3C4;
$yellowThree: #FCE588;
$yellowFour: #FADB5F;
$yellowFive: #F7C948;
$yellowSix: #F0B429;
$yellowSeven: #DE911D;
$yellowEight: #CB6E17;
$yellowNine: #B44D12;
$yellowTen: #8D2B0B;
