@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$headingFont: 'Cormorant Garamond', serif;
$bodyFont: 'Cormorant Garamond', serif;

$fontSizeOne: 12px;
$fontSizeTwo: 14px;
$fontSizeThree: 16px;
$fontSizeFour: 18px;
$fontSizeFive: 20px;
$fontSizeSix: 24px;
$fontSizeSeven: 30px;
$fontSizeEight: 36px;
$fontSizeNine: 48px;
$fontSizeTen: 60px;
$fontSizeEleven: 72px;
