@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$headingFont: 'Cormorant Garamond', serif;
$bodyFont: 'Cormorant Garamond', serif;

$fontSizeOne: 0.75rem;
$fontSizeTwo: 0.875rem;
$fontSizeThree: 1rem;
$fontSizeFour: 1.125rem;
$fontSizeFive: 1.25rem;
$fontSizeSix: 1.5rem;
$fontSizeSeven: 1.875rem;
$fontSizeEight: 2.25rem;
$fontSizeNine: 3rem;
$fontSizeTen: 3.75rem;
$fontSizeEleven: 4.5rem;
