@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$headingFont: 'Cormorant Garamond', serif;
$bodyFont: 'Cormorant Garamond', serif;

$fontSizeOne: 12px;
$fontSizeTwo: 12px;
$fontSizeThree: 12px;
$fontSizeFour: 12px;
$fontSizeFive: 12px;
$fontSizeSix: 12px;
$fontSizeSeven: 12px;
$fontSizeEight: 12px;
$fontSizeNine: 12px;
$fontSizeTen: 12px;
