$spacingSizeOne: 4px;
$spacingSizeTwo: 8px;
$spacingSizeThree: 12px;
$spacingSizeFour: 16px;
$spacingSizeFive: 24px;
$spacingSizeSix: 32px;
$spacingSizeSeven: 48px;
$spacingSizeEight: 64px;
$spacingSizeNine: 96px;
$spacingSizeTen: 128px;
$spacingSizeEleven: 192px;
$spacingSizeTwelve: 256px;
$spacingSizeThirteen: 384px;
$spacingSizeFourteen: 512px;
$spacingSizeFifteen: 640px;
$spacingSizeSixteen: 768px;
